* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

/*------ header ------ */

#closemenu,
#openmenu {
  display: none;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fffefe;
  padding: 8px 60px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: rgba(184, 184, 184, 0.1) 0px 5px 0px;
}

.logo {
  width: 180px;
}

#header img {
  width: 100%;
}

#header ul {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 40px;
}

/* #header .active {
} */

.active {
  padding: 10px 20px;
  background: rgb(76, 154, 42);
  border: none;
  border-radius: 45px;
  color: #fff !important;
}

#header ul li a {
  color: rgb(76, 154, 42);
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}

#header ul li a:hover {
  padding: 10px 20px;
  background: rgb(76, 154, 42);
  border: none;
  border-radius: 45px;
  color: #fff !important;
}

.btn {
  color: #fff;
  padding: 0.9375rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  background: rgb(76, 154, 42);
  border: none;
  border-radius: 0.625rem;
  transition: 0.5s;
}

#header .btn:hover {
  border: 0.0625rem solid rgb(76, 154, 42);
  background: #fff;
  color: rgb(76, 154, 42);
}

.out {
  display: none;
}

#contact {
  padding: 100px 0 40px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/contact-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height: 500px;
  position: relative;
  margin: 95px 0 50px;
}

#contact h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.199);
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.form-container {
  background: white;
  padding: 20px 80px 80px;
  border-radius: 10px;

}

.form-container h2{
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

#whatsappForm{
  padding: 40px 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .form-info{

} */

label{
  font-size: 25px;
  font-weight: 600;
}

input, textarea {
  width: 100%;
  font-size: 20px;
  padding: 30px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: #ccc;
}

input::placeholder, textarea{
  font-size: 18px;
}

button {
  background: #25D366;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  width: 200px;
  border-radius: 5px;
}

.footer {
  background: linear-gradient(rgb(51, 51, 51), rgb(31, 75, 12));
  text-align: center;
  padding: 1.875rem 1.25rem;
  color: rgb(211, 211, 211);
}

.ft-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 10px auto;
}

.ft-logo img {
  width: 100%;
}

.footer p {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fa-phone {
  font-size: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-icons a {
  font-size: 20px;
  color: rgb(76, 154, 42);
  background: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 50%;
  transition: 0.5s;
}

/* ----------mobile view ------  */
@media screen and (max-width: 1024px) {
  #header {
    padding: 8px 10px;
  }

  .logo {
    width: 90px;
  }

  #header ul {
    display: none;
  }

  #sidemenu {
    margin: 0;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 600px;
    padding-top: 50px;
    z-index: 200;
    transition: 0.5s;
  }

  #header #sidemenu {
    display: block;
    padding: 50px 20px 20px;
    font-size: 20px;
  }

  #sidemenu li {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  #header i {
    display: block;
  }

  #sidemenu .fa-x {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
  }

  #openmenu {
    display: block;
    margin-right: 20px;
    font-size: 24px;
  }

  #header .btn {
    display: none;
  }

  #header .out {
    display: block;
    color: #fff;
    padding: 0.9375rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    background: rgb(76, 154, 42);
    border: none;
    border-radius: 0.625rem;
    transition: 0.5s;
    width: 150px;
    text-align: center;
    margin: 20px auto;
  }

  #header .out:hover {
    border: 0.0625rem solid rgb(76, 154, 42);
    background: #fff;
    color: rgb(76, 154, 42);
  }


  /* -------form ------ */
  #contact {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 30px;
  }

  #contact h2 {
    font-size: 20px;
    padding: 5px 10px 30px;
  }
  
  .form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
  
  }
  
  .form-container h2{
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #whatsappForm{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
/*   
  .form-info{
  
  }
   */
  label{
    font-size: 18px;
    font-weight: 600;
  }
  
  input, textarea {
    width: 100%;
    font-size: 20px;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: #ccc;
  }
  
  input::placeholder, textarea{
    font-size: 14px;
  }
  
  button {
    background: #25D366;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  /* -------------Footer ----- */

  .footer {
    padding: 16px;
  }

  .ft-logo {
    width: 180px;
    margin: 10px auto;
  }

  .ft-logo img {
    width: 100%;
  }

  .footer p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .fa-phone {
    font-size: 20px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .social-icons a {
    font-size: 20px;
    color: rgb(76, 154, 42);
    background: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 50%;
    transition: 0.5s;
  }
}
